<%- include ('partials/header') %> 
<h2>Tickets</h2>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-9">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Identification</th>
                        <th scope="col">Creation date</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Subject</th>
                        <th scope="col">Status</th>
                        <th scope="col">Priority</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(data) { %>
                        <% for (var i = 0; i < data.length; i++) { %> 
                            <tr class = "<%- data[i].priority === 3 ? 'table-success' : data[i].priority === 2 ? 'table-warning' : data[i].priority === 1 ? 'table-danger' : '' %>" data-href="https://google.com">
                                <th scope="row"><%= data[i].id  %></th>
                                <td><%= moment(data[i].creation_date).fromNow();  %> </td>
                                <td><%= datacustomers.find(x => x.id === data[i].customer).description  %> </td>
                                <td><%= data[i].subject  %> </td>
                                <td><%= datastatus.find(x => x.id === data[i].status).description  %> </td>
                                <td><%= datapriorities.find(x => x.id === data[i].priority).description%> </td>
                                <td>
                                    <a href="/tickets/delete/<%= data[i].id  %> " class="btn btn-danger">Delete</a>
                                    <a href="/tickets/<%= data[i].id  %> " class="btn btn-info">Edit</a>
                                    <a href="/responses/<%= data[i].id  %> " class="btn btn-info">Responses</a>
                                </td>
                            </tr>
                            <% }  %>        
                    <% }  %> 
                </tbody>
            </table>
        </div>
        <div class="col-md-3">      
            <%- include ('ticketdetails') %> 
        </div>
    </div>    
</div>

<%- include ('partials/footer') %> 