<%- include ('partials/header') %> 
<h2>Users</h2>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-7">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Identification</th>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                    <tr></tr>
                </thead>
                <tbody>
                    <% if(data) { %>
                        <% for (var i = 0; i < data.length; i++) { %> 
                            <tr>
                                <td><%= data[i].id  %> </td>
                                <td><%= data[i].last_name  %> </td>
                                <td><%= data[i].first_name  %> </td>
                                <td><%= data[i].email  %> </td>
                                <td>
                                    <a href="/users/delete/<%= data[i].id  %> " class="btn btn-danger">Delete</a> 
                                    <a href="/users/<%= data[i].id  %> " class="btn btn-info">Edit</a> 
                                </td>
                            </tr>
                            <% }  %>        
                    <% }  %> 
                </tbody>
            </table>
        </div>
        <div class="col-md-5">      
          <div class="card">
              <div class="card-body">
                <form action="/users/add" method="POST">
                    <div class="form-group">
                        <input type="text" name="id" id="" class="form-control" placeholder="id" aria-describedby="helpId" readonly value= <%= obj ? obj.id : '' %>>
                        <input type="text" name="last_name" id="" class="form-control" placeholder="Last Name" aria-describedby="helpId" value= <%= obj ? obj.last_name : '' %>>
                        <input type="text" name="first_name" id="" class="form-control" placeholder="First Name" aria-describedby="helpId"value= <%= obj ? obj.first_name : '' %>>
                        <input type="text" name="email" id="" class="form-control" placeholder="Email" aria-describedby="helpId" value= <%= obj ? obj.email : '' %>>
                        <input type="text" name="password" id="" class="form-control" placeholder="Password" aria-describedby="helpId" value= <%= obj ? obj.password : '' %>>
                    </div>
                    <button type="submit" class="btn btn-primary" >Save</button>
                </form>
              </div>
          </div>
        </div>
    </div>    
</div>

<%- include ('partials/footer') %> 