<%- include ('partials/header') %> 
<h2>Users</h2>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-7">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Identification</th>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                    <tr></tr>
                </thead>
                <tbody>
                    <% if(data) { %>
                        <% for (var i = 0; i < data.length; i++) { %> 
                            <tr>
                                <td><%= data[i].id  %> </td>
                                <td><%= data[i].last_name  %> </td>
                                <td><%= data[i].first_name  %> </td>
                                <td><%= data[i].email  %> </td>
                                <td>
                                    <a href="/users/delete/<%= data[i].id  %> " class="btn btn-danger">Delete</a> 
                                    <a href="/users/<%= data[i].id  %> " class="btn btn-info">Edit</a> 
                                </td>
                            </tr>
                            <% }  %>        
                    <% }  %> 
                </tbody>
            </table>
        </div>
        <div class="col-md-5">      
          <div class="card">
              <div class="card-body">
                <form action="/users/save" method="POST">
                    <div class="form-group">
                        <div class="form-floating">
                            <input type="text" name="id"  id="floatingInput" class="form-control" placeholder="id" aria-describedby="helpId" readonly value= <%= obj ? obj.id : '' %>>
                            <label for="floatingInput">id</label>
                        </div>
                        <div class="form-floating">
                            <input type="text" name="last_name" id="floatingInput" class="form-control" placeholder="Last Name" aria-describedby="helpId" value= <%= obj ? obj.last_name : '' %>>
                            <label for="floatingInput">Last Name</label>
                        </div>
                        <div class="form-floating">
                            <input type="text" name="first_name" id="floatingInput" class="form-control" placeholder="First Name" aria-describedby="helpId"value= <%= obj ? obj.first_name : '' %>>
                            <label for="floatingInput">First Name</label>
                        </div>
                        <div class="form-floating">
                            <input type="email" name="email" id="floatingInput" class="form-control" placeholder="Email" aria-describedby="helpId" value= <%= obj ? obj.email : '' %>>
                            <label for="floatingInput">Email</label>
                        </div>
                        <div class="form-floating">
                            <input type="password" name="password" id="floatingInput" class="form-control" placeholder="Password" aria-describedby="helpId" value= <%= obj ? obj.password : '' %>>
                            <label for="floatingInput">Password</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" >Save</button>
                </form>
              </div>
          </div>
        </div>
    </div>    
</div>

<%- include ('partials/footer') %> 