<%- include ('partials/header') %> 
<h2>Users roles</h2>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-7">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Customer</th>
                        <th>User</th>
                        <th>Role</th>
                        <th>Actions</th>
                    </tr>
                    <tr></tr>
                </thead>
                <tbody>
                    <% if(data) { %>
                        <% for (var i = 0; i < data.length; i++) { %> 
                            <tr>
                                <td><%= data[i].id  %> </td>
                                <td><%= data[i].last_name  %> </td>
                                <td><%= data[i].first_name  %> </td>
                                <td><%= data[i].email  %> </td>
                                <td><a href="usersroles/delete/<%= data[i].id  %> " class="btn btn-danger">Delete</a> </td>
                            </tr>
                            <% }  %>        
                    <% }  %> 
                </tbody>
            </table>
        </div>
        <div class="col-md-5">      
          <div class="card">
              <div class="card-body">
                <form action="/usersroles/save" method="POST">

                    <select class="selectpicker" data-style="btn-info" name="selectpicker">
                        <optgroup label="Select Table">
                            <option name="" value="0">Select Month Year</option>
                            <% for(var i=0;i<rowsLength;i++){ %>
                            <% if(i>0){ %>
                            <% if(rows[i].month_year !== rows[i-1].month_year){ %>
                            <option name="table<%=i %>"  value="month1"><%= rows[i].month_year %></option>
                            <% } %>
                
                            <% }else{ %>
                            <option name="table<%=i %>"  value="month2"> <%= rows[i].month_year %></option>
                            <% } %>
                            <% } %>
                        </optgroup>
                    </select>








                    <div class="form-group">
                        <input type="text" name="last_name" id="" class="form-control" placeholder="Last Name" aria-describedby="helpId">
                        <input type="text" name="first_name" id="" class="form-control" placeholder="First Name" aria-describedby="helpId">
                        <input type="text" name="email" id="" class="form-control" placeholder="Email" aria-describedby="helpId">
                        <input type="text" name="password" id="" class="form-control" placeholder="Password" aria-describedby="helpId">
                    </div>
                    <button type="submit" class="btn btn-primary" >Save</button>
                </form>
              </div>
          </div>
        </div>
    </div>    
</div>

<%- include ('partials/footer') %> 