<%- include ('partials/header') %> 
<h2>Users roles</h2>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-7">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Customer</th>
                        <th>User</th>
                        <th>Role</th>
                        <th>Actions</th>
                    </tr>
                    <tr></tr>
                </thead>
                <tbody>
                    <% if(data) { %>
                        <% for (var i = 0; i < data.length; i++) { %> 
                            <tr>
                                <td><%= data[i].customerdsc  %> </td>
                                <td><%= data[i].last_name + ', ' + data[i].first_name  %> </td>
                                <td><%= data[i].rolesdsc  %> </td>
                                <td>
                                    <a href="usersroles/delete/<%= data[i].user  %>/<%= data[i].customer  %> " class="btn btn-danger">Delete</a> 
                                    <a href="/usersroles/<%= data[i].user  %>/<%= data[i].customer  %>  " class="btn btn-info">Edit</a> 
                                </td>
                            </tr>
                            <% }  %>        
                    <% }  %> 
                </tbody>
            </table>
        </div>
        <div class="col-md-5">      
          <div class="card">
              <div class="card-body">
                <form action="/usersroles/save" method="POST">
                    <div class="form-group">
                        <select class="form-control" data-style="btn-info" name="customer">
                            <option value="">Customer</option>
                            <% for(var i=0;i < datacustomers.length ;i++){ %>
                                <option <%- obj && obj.customer === datacustomers[i].id ? "selected" : ""%>  value="<%= datacustomers[i].id %>"><%= datacustomers[i].description %></option>
                            <% } %>    
                        </select><br>
                        <select class="form-control" data-style="btn-info" name="user">
                            <option value="">User</option>
                            <% if (datausers) {%>
                                <% for(var i=0;i < datausers.length ;i++){ %>
                                    <option <%- obj && obj.user === datausers[i].id ? "selected" : ""%> value="<%= datausers[i].id %>" sel ><%= datausers[i].last_name + ', ' + datausers[i].first_name %></option>
                                <% } %>    
                            <% } %>    
                        </select><br>
                        <select class="form-control" data-style="btn-info" name="role">
                            <option value="">Role</option>
                            <% for(var i=0;i < dataroles.length ;i++){ %>
                                <option <%- obj && obj.role === dataroles[i].id ? "selected" : ""%> value="<%= dataroles[i].id %>"><%= dataroles[i].description %></option>
                            <% } %>    
                        </select><br>
                    </div>
                    <button type="submit" class="btn btn-primary" >Save</button>
                </form>
              </div>
          </div>
        </div>
    </div>    
</div>

<%- include ('partials/footer') %> 